
:root {
  --border: 229 231 235;
  --input: 241 245 249;
  --ring: 198 203 212;
  --background: 255 255 255;
  --foreground: 31 41 55;
  --primary: 6 79 146;
  --primary-foreground: 255 255 255;
  --secondary: 40 58 75;
  --secondary-foreground: 255 255 255;
  --destructive: 224 36 33;
  --destructive-foreground: 255 255 255;
  --muted: 103 114 121;
  --muted-foreground: 255 255 255;
  --accent: 53 131 205;
  --accent-foreground: 255 255 255;
  --popover: 246 249 252;
  --popover-foreground: 31 41 55;
  --card: 255 255 255;
  --card-foreground: 31 41 55;
  --radius: 8px;
}

/* Tailwind base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;
